septa-wadl.xml

<!-- Generated by Joseph Tricarico <jtricarico@azavea.com>, 7 October 2011 -->
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:apigee="http://api.apigee.com/wadl/2010/07/" 
  xmlns="http://wadl.dev.java.net/2009/02"
  xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

  <!-- Base defines the domain and base path of the endpoint -->
  <resources base="http://www3.septa.org">
    <resource path="/hackathon/NextToArrive/{origin}/{destination}/{limit}">
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. -->
      <!-- Methods should each have a unique id. -->
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. -->
      <param name="origin" required="true" type="xsd:string" style="template">
        <doc>Origin</doc>
      </param>
	  <param name="destination" required="true" type="xsd:string" style="template">
        <doc>Destination</doc>
      </param>
	  <param name="limit" required="false" type="xsd:string" style="template">
        <doc>Maximum number of results</doc>
      </param>
	  
	  <method id="nta" name="GET" apigee:displayName="Next to Arrive">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">Regional Rail</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="false" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/api/nta/Manayunk/Trenton" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="Documentation" apigee:url="http://opendataphilly.org/opendata/resource/171/septa-next-to-arrive/">
		  Real-time rail arrival information
	    </doc>
      </method>
    </resource>
	<resource path="transitview/bus_route_data/{route_id}">
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. -->
      <!-- Methods should each have a unique id. -->
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. -->
      <param name="route_id" required="true" type="xsd:string" style="template">
        <doc>Route ID (not case-sensitive)</doc>
      </param>
	  
	  <method id="busandtrolleylocation" name="GET" apigee:displayName="Bus and Trolley Location">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">Bus &amp; Trolley</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="false" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/transitview/bus_route_data/23" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="Documentation" apigee:url="http://opendataphilly.org/opendata/resource/158/septa-sms-transit/">
		  Bus and Trolley Locations
	    </doc>
      </method>
    </resource>
	<resource path="sms/{stop_id}/{route_id_or_direction}/{direction}">
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. -->
      <!-- Methods should each have a unique id. -->
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. -->
      <param name="stop_id" required="true" type="xsd:string" style="template">
        <doc>Stop ID</doc>
      </param>
	  <param name="route_id_or_direction" required="false" type="xsd:string" style="template">
        <doc>Route Id OR i/o for inbound/outbound.</doc>
      </param>
	  <param name="direction" required="false" type="xsd:string" style="template">
        <doc>i/o for inbound or outbound</doc>
      </param>
	  
	  <method id="sms" name="GET" apigee:displayName="SEPTA SMS Transit">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">Bus &amp; Trolley</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="false" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/sms/1184" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="Documentation" apigee:url="http://opendataphilly.org/opendata/resource/158/septa-sms-transit/">
		  Provides a linefeed-delimited list of upcoming routes and scheduled arrival times
	    </doc>
      </method>
    </resource>
  </resources>
</application>
